# Data analysis
In this notebook we present essential data analysis of our input dataset. We get this dataset from -GG-.

Our input dataset consist of weather data from 3 American cities:
 - Los Angeles
 - Phoenix
 - San Francisco

All these cities lies close to each other on the Southwestern part of United States, which means that the weather conditions in these cities should not differ a lot. The weather is highly affected by Pacific Ocean.

We have hourly information about average temperature(in Fahrenheits) and average wind speed. These information were collected for the period of one year, which means that we have 8759 rows for each city.

We will work with temperature prediction in our project.

## Checkpoint

In [ ]:
import matplotlib as mpl
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import os

In [13]:
df = pd.read_csv('weather_forecast/data/raw/temperatures.csv')
df.shape

(8759, 4)

In [14]:
print(df.head)

<bound method NDFrame.head of                 DATE  LA-HLY-TEMP-NORMAL  PH-HLY-TEMP-NORMAL  \
0     01-01T01:00:00                53.3                50.0
1     01-01T02:00:00                52.3                49.1
2     01-01T03:00:00                51.5                48.2
3     01-01T04:00:00                50.8                47.5
4     01-01T05:00:00                50.4                46.8
...              ...                 ...                 ...
8754  12-31T19:00:00                56.8                58.4
8755  12-31T20:00:00                56.6                56.3
8756  12-31T21:00:00                56.2                54.7
8757  12-31T22:00:00                55.4                53.5
8758  12-31T23:00:00                55.0                52.2

      SF-HLY-TEMP-NORMAL
0                   47.4
1                   46.9
2                   46.5
3                   46.0
4                   45.9
...                  ...
8754                50.4
8755                49.9
8756                49.4
8757                48.8
8758                48.3

[8759 rows x 4 columns]>

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8759 entries, 0 to 8758
Data columns (total 4 columns):
DATE                  8759 non-null object
LA-HLY-TEMP-NORMAL    8759 non-null float64
PH-HLY-TEMP-NORMAL    8759 non-null float64
SF-HLY-TEMP-NORMAL    8759 non-null float64
dtypes: float64(3), object(1)
memory usage: 273.8+ KB

In [16]:
df.describe()

       LA-HLY-TEMP-NORMAL  PH-HLY-TEMP-NORMAL  SF-HLY-TEMP-NORMAL
count         8759.000000         8759.000000         8759.000000
mean            62.500377           75.055029           56.923621
std              5.821019           16.234063            6.108884
min             49.800000           45.200000           45.600000
25%             57.900000           61.500000           52.300000
50%             62.900000           75.100000           56.500000
75%             66.400000           88.400000           60.700000
max             75.000000          105.700000           72.200000